{{!-- 
Citation for the following page:
Date: 05/06/2025
Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
--}}

{{!-- 
Citation for use of AI Tools:
Date: 05/22/2025
Prompts used to help generate confirmation popup for delete form:
"I would like to add a confirmation popup message in the Customers delete form. How do I do this?"
AI Source URL: www.grok.com
--}}

<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, description, cost, and stock amount }}
        {{#each customers}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.customerAddress}}</td>
            <td>{{this.customerPhone}}</td>

            {{! DELETE form }}
            <form id='delete_customer_form' method='POST' action='/customers/delete'>
                <input type='hidden' name='delete_customer_id' value='{{this.customerID}}' />
                <input type='hidden' name='delete_customer_name' value='{{this.customerName}}' />
                <td>
                    <button type='submit' onclick="return confirm('Are you sure you want to delete this customer?')">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>


{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form'>
    <label for='update_customer_id'>Customer to Update: </label>
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>
            {{this.customerID}}
            -
            {{this.customerName}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_address'>Address: </label>
    <input type="text" id="update_customer_address" name="update_customer_address" placeholder="Enter address here" />


    <label for='update_customer_Phone'>Phone Number: </label>
    <input type="text" id="update_customer_Phone" name="update_customer_Phone" placeholder="Enter number here" />


    <input type='submit' />
</form>

{{! CREATE form }}
<h2>Create a Customer</h2>
<form class='cuForm' id='create_customer_form'>
    <label for='create_customer_customerName'>Customer Name: </label>
    <input type='text' name='create_customer_customerName' id='create_customer_customerName' required />

    <label for='create_customer_customerAddress'>Address: </label>
    <input type='text' name='create_customer_customerAddress' id='create_customer_customerAddress' required />

    <label for='create_customer_customerPhone'>Phone Number: </label>
    <input type='text' name='create_customer_customerPhone' id='create_customer_customerPhone' required />

    <input type='submit' />
</form>