{{!-- 
Citation for the following page:
Date: 05/06/2025
Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
--}}

<h1>Departments</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each departments.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, description, cost, and stock amount }}
        {{#each departments}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.departmentName}}</td>
            <td>{{this.departmentManager}}</td>
            <td>{{this.departmentAddress}}</td>

            {{! DELETE form }}
            <form method="POST" action="/departments/delete">
                <input type='hidden' name='delete_department_id' value='{{this.departmentID}}' />
                <input type='hidden' name='delete_department_name' value='{{this.departmentName}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update a Department</h2>
<form class='cuForm' id="update_department_form" method="POST" action="/departments/update">
    <label for='update_department_id'>Department to Update: </label>
    <select name='update_department_id' id='update_department_id' required>
        <option value='' disabled selected>Select a Department</option>
        {{#each departments}}
        <option value='{{this.departmentID}}' required>
            {{this.departmentID}}
            -
            {{this.departmentName}}
        </option>
        {{/each}}
    </select>

    <label for="update_department_name">Department name:</label>
    <input type="text" name="update_department_name" required />

    <label for='update_department_manager'>Manager: </label>
    <input type="text" id="update_department_manager" name="update_department_manager" placeholder="Enter name here" required/>

    <label for='update_department_address'>Address: </label>
    <input type="text" id="update_department_address" name="update_department_address" placeholder="Enter address here" required />


    <input type='submit' />
</form>

{{! CREATE form }}
<h2>Create a Department</h2>
<form class='cuForm' id="create_department_form" method="POST" action="/departments/create">
    <label for='create_department_departmentName'>Department Name: </label>
    <input type='text' name='create_department_departmentName' id='create_department_departmentName' required />

    <label for='create_department_departmentManager'>Manager Name: </label>
    <input type='text' name='create_department_departmentManager' id='create_department_departmentManager' required />

    <label for='create_department_departmentAddress'>Address: </label>
    <input type='text' name='create_department_departmentAddress' id='create_department_departmentAddress' required />

    <input type='submit' />
</form>