
{{!-- 
Citation for the following page:
Date: 05/14/2025
Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
--}}



{{!-- Make join to make more user friendly --}}
<h1>Toy Orders</h1>

<table>
    <thead>
        <tr>
            <th>Toy Order ID</th>
            <th>Toy ID</th> 
            <th>Toy Name</th>
            <th>Order ID</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each toyorders}}
        <tr>
            <td>{{this.toyOrderID}}</td>
            <td>{{this.toyID}}</td>
            <td>{{this.toyName}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.orderDate}}</td>

            <form id="delete_toyorder_form">
                <input type="hidden" name="delete_toyorder_id" value="{{this.toyOrderID}}" />
                <td><button type="submit">Delete</button></td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update a Toy Order</h2>
<form class='cuForm' id='update_toyorder_form'>
    <label for='update_toyorder_id'>Toy Order to Update: </label>
    <select name='update_toyorder_id' id='update_toyorder_id' required>
        <option value='' disabled selected>Select a Toy Order</option>
        {{#each toyorders}}
        <option value='{{this.toyOrderID}}' required>
            {{this.toyOrderID}}
        </option>
        {{/each}}
    </select>

    <label for='update_toy_toyid'>Toy: </label>
    <select name='update_toy_toyid' id='update_toy_toyid' required>
        <option value='' disabled selected>Select a toy</option>
        {{#each toys}}
        <option value='{{this.toyID}}'>
            {{this.toyID}} 
            - 
            {{this.toyName}}
        </option>
        {{/each}}
    </select>

    <label for='update_order_id'>Order: </label>
    <select name='update_order_id' id='update_order_id' required>
        <option value='' disabled selected>Select an order</option>
        {{#each orders}}
        <option value='{{this.orderID}}'>
            {{this.orderID}} 
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{!-- No need for a ‘create ToyOrder’ form, since adding to the 
Orders table automatically adds to the ToyOrders table one --}}

{{! CREATE form }}
<h2>Add a Toy Order</h2>
<form class='cuForm' id='create_toyorder_form' method='POST' action='/toyorders/create'>
	{{! dropdown menu of existing orders to add to }}
    <label for='create_toyorder_orderID'>Order to add to: </label>
    <select name='create_toyorder_orderID' id='create_toyorder_orderID' required>
	    <option value='' disabled selected></option>
            {{#each orders}}
        <option value='{{this.orderID}}' required>
            {{this.orderID}}
        </option>
        {{/each}}
  </select>

	{{! dropdown menu of existing employees’ names }}
  <label for='create_toyorder_toyID'>Toy Name: </label>
  <select name='create_toyorder_toyID' id='create_toyorder_toyID' required>
        <option value='' disabled selected></option>
            {{#each toys}}
        <option value='{{this.toyID}}' required>
            {{this.toyID}}
            -
            {{this.toyName}}
        </option>
        {{/each}}
  </select>

    <input type='submit' />
</form>
