{{!-- 
Citation for the following page:
Date: 05/06/2025
Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
--}}

{{! UPDATE form }}
<h2>Update a Toy</h2>
<form class='cuForm' id='update_toy_form' method="POST" action="/toys/update">
    <label for='update_toy_id'>Toy to Update: </label>
    <select name='update_toy_id' id='update_toy_id' required>
        <option value='' disabled selected>Select a Toy</option>
        {{#each toys}}
        <option value='{{this.toyID}}' required>
            {{this.toyID}}
            -
            {{this.toyName}}
        </option>
        {{/each}}
    </select>

    <label for="update_toy_name">Toy name:</label>
    <input type="text" name="update_toy_name" placeholder="Enter name" required />

    <label for='update_toy_description'>Description: </label>
    <input type="text" id="update_toy_description" name="update_toy_description" placeholder="Enter toy description" required />


    <label for='update_toy_cost'>Cost: </label>
    <input type="number" id="update_toy_cost" name="update_toy_cost" step="0.01" min="0" placeholder="Enter cost"required />

    <label for='update_toy_stockamount'>Stock Amount: </label>
    <input type="number" id="update_toy_stockamount" name="update_toy_stockamount" step="1" min="0" placeholder="Enter amount" required/>

    <input type='submit' />
</form>

{{! CREATE form }}
<h2>Create a Toy</h2>
<form class='cuForm' id='create_toy_form' method="POST" action="/toys/create">
    <label for='create_toy_toyName'>Toy Name: </label>
    <input type='text' name='create_toy_toyName' id='create_toy_toyName' required />

    <label for='create_toy_toyDescription'>Description: </label>
    <input type='text' name='create_toy_toyDescription' id='create_toy_toyDescription' />

    <label for='create_toyorder_toyCost'>Cost: </label>
    <input type='number' name='create_toy_toyCost' id='create_toy_toyCost' step="0.01" min="0" max="99999999.99" required />

    <label for='create_toy_toyStockAmount'>Stock Amount: </label>
    <input type='number' name='create_toy_toyStockAmount' id='create_toy_toyStockAmount' min="0" required />

    <input type='submit' />
</form>

<h1>Toys</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each toys.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, description, cost, and stock amount }}
        {{#each toys}}
        <tr>
            <td>{{this.toyID}}</td>
            <td>{{this.toyName}}</td>
            <td>{{this.toyDescription}}</td>
            <td>{{this.toyCost}}</td>
            <td>{{this.toyStockAmount}}</td>

            {{! DELETE form }}
            <form method="POST" action="/toys/delete" style="display:inline;">
                <input type='hidden' name='delete_toy_id' value='{{this.toyID}}' />
                <input type='hidden' name='delete_toy_name' value='{{this.toyName}}' />
                <td>
                    <button type='submit' onclick="return confirm('Are you sure you want to delete this toy?')">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
